<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jngyen.bookkeeping.backend.mapper.BillIncomeSummaryMapper">

    <!-- ResultMap 用于映射数据库表的列与 Java 对象属性 -->
    <resultMap id="billIncomeSummaryResultMap" type="com.jngyen.bookkeeping.backend.pojo.po.bill.BillIncomeSummaryPO">
        <id column="id" property="id" />
        <result column="budget_time_type" property="budgetTimeType" />
        <result column="user_uuid" property="userUuid" />
        <result column="category_name" property="categoryName" />
        <result column="summary_amount" property="summaryAmount" />
        <result column="home_currency" property="homeCurrency" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="is_income" property="isIncome" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 插入新的收入汇总-->
    <insert id="insertIncomeSummary" parameterType="com.jngyen.bookkeeping.backend.pojo.po.bill.BillIncomeSummaryPO">
        INSERT INTO bill_income_summary
        (budget_time_type, user_uuid, category_name, summary_amount, home_currency,is_income, start_date, end_date, gmt_create, gmt_modified)
        VALUES
        (#{budgetTimeType}, #{userUuid}, #{categoryName}, #{summaryAmount}, #{homeCurrency},#{isIncome}, #{startDate}, #{endDate}, now(), now())
    </insert>

    <!-- 按照时间和时间类型查找单个收入汇总 -->
    <select id="selectOneIncomeSummaryByTimeAndType" resultMap="billIncomeSummaryResultMap" parameterType="com.jngyen.bookkeeping.backend.pojo.po.bill.BillIncomeSummaryPO">
        SELECT *
        FROM bill_income_summary
        WHERE budget_time_type = #{budgetTimeType}
        AND user_uuid = #{userUuid}
        AND start_date = #{startDate}
        AND is_income = #{isIncome}
        AND category_name = #{categoryName}
        AND end_date = #{endDate}
    </select>

    <!-- 按照时间和时间类型查找区间内的全部收入汇总,获取对应的年、月、周、日的收入汇总 -->
    <select id="selectAllIncomeSummaryByTimeAndType" resultMap="billIncomeSummaryResultMap" parameterType="com.jngyen.bookkeeping.backend.pojo.po.bill.BillIncomeSummaryPO">
        SELECT *
        FROM bill_income_summary
        WHERE budget_time_type = #{budgetTimeType}
        AND user_uuid = #{userUuid}
        AND category_name = #{categoryName}
        AND is_income = #{isIncome}
        AND (
        (start_date BETWEEN #{startDate} AND #{endDate})
        OR (end_date BETWEEN #{startDate} AND #{endDate})
        )
    </select>

    <!-- 按照categoryName 修改所有收入汇总 -->
    <update id="updateIncomeSummaryByCategoryName">
        UPDATE bill_income_summary
        SET category_name = #{newCategoryName},
        gmt_modified = now()
        WHERE category_name = #{oldCategoryName}
        AND user_uuid = #{userUuid}
    </update>
    <!-- 按照id更改收入 -->
    <update id="updateIncomeSummaryById">
        UPDATE bill_income_summary
        SET summary_amount = #{summaryAmount},
        gmt_modified = now()
        WHERE id = #{id}
    </update>
</mapper>